<section class="career">
    <div class="container">
      <div class="career__wrap">
        <div class="career__create">
          <h4>Построй карьеру вместе с Turbo Trans</h4>
          <p>
            Станьте частью команды Turbo Trans и создавайте будущее
            международных перевозок.<br />Пришлите своё резюме на
            info@trans-turbo.com, и мы свяжемся с вами.
          </p>
          <a class="btn-reset">Связаться с нами</a>
        </div>
      </div>
    </div>
  </section>