<section class="contact">
  <div class="container">
    <div class="contact__wrapp">
      <h2 class="contact__title">Связаться с нами</h2>
      <form action="" class="contact__form">
        <label for="name" class="contact__label">Имя *</label>
        <input
          type="text"
          class="contact__input"
          placeholder="Полное имя *"
          required
        />
        <label for="name" class="contact__label"
          >Адрес электронной почты *</label
        >
        <input
          type="email"
          class="contact__input"
          placeholder="example@gmail.com  "
          required
        />
        <label for="tel" class="contact__label">Телефон *</label>
        <input
          type="text"
          class="contact__input"
          placeholder="8(999)-000-00-00"
          required
        />
        <button type="submit" class="contact__btn btn-reset">Отправить</button>
      </form>
    </div>
  </div>
</section>
