<section class="directions">
    <div class="container">
      <div class="directions__wrap">
        <div class="directions__top">
          <h4>Наши направления деятельности</h4>
          <p>
            Turbo Trans придерживается политики наилучшего обслуживания в
            своё время и работает с целью полной удовлетворённости
            клиентов.
          </p>
        </div>
        <nav>
          <ul class="directions__list">
            <li class="directions__listItem">
              <div class="directions__listHeader">
                <a href__="javascript:void(0)">Транспорт</a>
                <img
                  src="img/icons/arrowR.svg"
                  alt=""
                  class="directions__listArrow"
                />
              </div>
              <p>
                Планирование и контроль финансовых потоков, обеспечивающих
                стабильность и эффективность логистических операций.
              </p>
            </li>
            <li class="directions__listItem">
              <div class="directions__listHeader">
                <a href__="javascript:void(0)">Таможенное оформление</a>
                <img
                  src="img/icons/arrowR.svg"
                  alt=""
                  class="directions__listArrow"
                />
              </div>
              <p>
                Планирование и контроль финансовых потоков, обеспечивающих
                стабильность и эффективность логистических операций.
              </p>
            </li>
            <li class="directions__listItem">
              <div class="directions__listHeader">
                <a href__="javascript:void(0)">Управление финансами</a>
                <img
                  src="img/icons/arrowR.svg"
                  alt=""
                  class="directions__listArrow"
                />
              </div>
              <p>
                Планирование и контроль финансовых потоков, обеспечивающих
                стабильность и эффективность логистических операций.
              </p>
            </li>
            <li class="directions__listItem">
              <div class="directions__listHeader">
                <a href__="javascript:void(0)"
                  >Внешнеторговый консалтинг</a
                >
                <img
                  src="img/icons/arrowR.svg"
                  alt=""
                  class="directions__listArrow"
                />
              </div>
              <p>
                Планирование и контроль финансовых потоков, обеспечивающих
                стабильность и эффективность логистических операций.
              </p>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>