<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__logo-wrap">
        <img src="img/main/truck2.svg" alt="" class="footer__truck" />
      </div>
      <div class="footer__about">
        <img src="img/icons/logo2.svg" alt="" class="footer__logo" />
        <nav class="footer__nav">
          <ul class="footer__menu">
            <li><a href__="#">Главная</a></li>
            <li><a href__="#">О нас</a></li>
            <li><a href__="#">Наши услуги</a></li>
            <li><a href__="#">Связь</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer__info">
        <p>Московский офис: Дзержинский</p>
        <p class="footer__emailDesktop">info@trans-turbo.com</p>
        <p>Казанский офис: Пятигорск</p>
        <p class="footer__emailMobil">info@trans-turbo.com</p>
      </div>

      <div class="footer__socialInfo">
        <div class="footer__social">
          <img src="img/icons/vk2.svg" alt="" />
          <img src="img/icons/tg2.svg" alt="" />
        </div>
        <p>Политика конфиденциальности</p>
      </div>
      <div class="footer__copyright">
        <p>Copyright 2023 Turbo Trans - F2F Bilişim</p>
        <p>Разработка сайта — ООО “Велий Групп”</p>
      </div>
    </div>
  </div>
</footer>
