<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <nav class="footer__nav">
        <ul class="footer__menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Наши услуги</a></li>
          <li><a href="#">Связь</a></li>
        </ul>
      </nav>
      <div class="footer__info">
        <p>Московский офис: Дзержинский</p>
        <p>info@trans-turbo.com</p>
      </div>
      <!-- вопрос -->
      <div class="footer__infoQ">
        <p>Казанский офис: Пятигорск</p>
      </div>

      <div class="footer__socialInfo">
        <div class="footer__social">
          <img src="img/icons/vk2.svg" alt="" />
          <img src="img/icons/tg2.svg" alt="" />
        </div>
        <p>Политика конфиденциальности</p>
        <img class="footer__truck" src="img/main/truck2.svg" alt="" />
      </div>
      <div class="footer__copyright">
        <p>Copyright 2023 Turbo Trans - F2F Bilişim</p>
        <p>Разработка сайта — ООО “Велий Групп”</p>
      </div>
    </div>
  </div>
</footer>
