<section class="form">
  <div class="container">
    <div class="form__wrapp">
      <h2 class="form__title">Связаться с нами</h2>
      <form action="">
        <div class="form__form">
          <div class="form__field">
            <label for="name" class="form__label">Имя *</label>
            <input
              type="text"
              class="form__input"
              placeholder="Полное имя *"
              refielduired
            />
          </div>
          <div class="form__field">
            <label for="name" class="form__label"
              >Адрес электронной почты *</label
            >
            <input
              type="email"
              class="form__input"
              placeholder="example@gmail.com  "
              refielduired
            />
          </div>
          <div class="form__field">
            <label for="tel" class="form__label">Телефон *</label>
            <input
              type="text"
              class="form__input"
              placeholder="8(999)-000-00-00"
              refielduired
            />
          </div>
        </div>
        <button type="button" class="form__btn btn-reset">Отправить</button>
      </form>
    </div>
  </div>
</section>
