<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <img src="img/icons/logo.svg" alt="Logo" />
      </a>
      <img src="img/icons/burger.svg" class="header__burger" alt="" />
      <img src="img/icons/cross.svg" alt="" class="header__cross" />
      <nav class="header__nav">
        <ul class="header__menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li class="header__menuActiv">
            <a href="#">Наши услуги</a>
            <img src="img/icons/arrowB.svg" alt="" />
            <ul>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
              <li><a href="#">Главная</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="header__contact">
        <a>info@trans-turbo.com</a>
        <div class="header__contactIcons">
          <button class="header__btn btn-reset">Связаться с нами</button>
          <a href="#"><img src="img/icons/vk.svg" alt="" /></a>
          <a href="#"><img src="img/icons/tg.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__mobile">
    <img src="img/icons/logo.svg" alt="Logo" />
    <div class="header__wrapMobileMenu">
      <ul class="header__mobileMenu">
        <li><a href="">Главная</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">Наши услуги</a></li>
      </ul>
      <a href="#" class="header__mobileBtn"> Связаться с нами </a>
    </div>
    <ul class="header__mobileInfo">
      <li>Московский офис: Дзержинский</li>
      <li>Казанский офис: Пятигорск</li>
    </ul>
    <div class="header__mobileContact">
      <a href="" class="header__mobileEmaill">info@trans-turbo.com</a>
      <div class="header__mobileSocial">
        <img src="img/icons/vk.svg" alt="" />
        <img src="img/icons/tg.svg" alt="" />
      </div>
    </div>
  </div>
</header>
