<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <img src="img/logo.svg" alt="Logo" />
      </a>
      <nav class="header__nav">
        <ul class="header__menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Наши услуги</a></li>
        </ul>
      </nav>
      <div class="header__contact">
        <a>info@trans-turbo.com</a>
        <div class="header__contactIcons">
          <button class="header__btn btn-reset">Связаться с нами</button>
          <a href="#"><img src="img/vk.svg" alt="" /></a>
          <a href="#"><img src="img/tg.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</header>
