
:root {
  // base
  --content-width: 1666px;
  --container-offset: 40px;
  --container-width: var(--content-width);
}

$font-family: "Readex Pro", sans-serif;
$white: #ffffff;
$black: #000000;
$dark_blue: #061c35;
$gray: #666363;
$light_gray: #E9E9E9

 